@model IEnumerable<RestaurantRaterMVC.Models.Restaurant.RestaurantListItem>

@{
    ViewData["Title"] = "Restaurant Index";
}

<h1>Restaurant Index</h1>

<p>@Html.ActionLink("Create Restaurant", "Create")</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Score > 0)
                    {
                    @Html.DisplayFor(modelItem => item.Name)
                    }
                    else 
                    {
                        <span>No Ratings Yet</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Restaurant", new { id = item.Id}) |
                    @Html.ActionLink("Details", "Details", "Restaurant", new { id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", "Restaurant", new { id = item.Id})
                </td>
            </tr>
        }
    </tbody>
</table>